<header class="header">
  {% logo "/" | url, home %}
    Vasilii Kovalev's blog
  {% endlogo %}

  <ul class="social-links">
    <li class="social-links__link">
      <a href="https://github.com/vasilii-kovalev">GitHub</a>
    </li>
    <li class="social-links__link">
      <a href="https://bsky.app/profile/vasilii-kovalev.bsky.social">Bluesky</a>
    </li>
    <li class="social-links__link">
      <a href="https://twitter.com/vasilii_kovalev">Twitter</a>
    </li>
  </ul>
</header>
