{
  "plugins": [
    "stylelint-order"
  ],
  "extends": [
    "stylelint-config-standard"
  ],
  "rules": {
    "at-rule-no-unknown": null,
    "font-family-no-duplicate-names": [
      true,
      {
        "ignoreFontFamilyNames": [
          "monospace"
        ]
      }
    ],
    "order/properties-alphabetical-order": true
  }
}
