h1 {
  margin-bottom: 0.25em;
}

:is(h2, h3, h4, h5, h6):focus-visible {
  outline: none;
}

code {
  font-size: 85%;
}

code:not([class*="language"]) {
  border: 1px solid var(--text-color);
  border-radius: 2px;
  margin: 0 1px;
  padding: 1px 3px;
}

a:is(:hover, :focus) code:not([class*="language"]) {
  border-color: transparent;
}

pre {
  border: 2px solid var(--text-color);
  border-radius: var(--border-radius);
  color: var(--text-color);
  overflow-x: auto;
  padding: 12px;
}

.published-date {
  font-size: 90%;
}

.header-anchor::before {
  content: "#";
}

.code-block {
  margin: 0;
}

.code-header {
  background-color: var(--text-color);
  border: 2px solid var(--text-color);
  border-bottom: none;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  color: var(--background-color);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: monospace, monospace;
  justify-content: space-between;
  padding: 4px;
}

.code-header ::selection {
  background-color: var(--background-color);
  color: var(--text-color);
}

.code-header__info {
  margin: 0;
}

.code-header__language,
.code-header__file {
  margin-inline-start: 0;
}

.code-header__file {
  font-size: 75%;
  word-break: break-word;
}

.code-header + pre {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: 0;
}

.footer {
  padding-bottom: 2em;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
