---
layout: page.njk
styles: post.css
---

{% include 'header.njk' %}

<main>
  <article>
    <h1>{{ title }}</h1>
    <time datetime="{{ published }}" class="published-date">
      {{ published | date }}
    </time>

    {{ content | safe }}
  </article>
</main>

{% include 'footer.njk' %}
