body {
  color: black;
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 150%;
  margin: 0;
  min-height: 100vh;
}

main {
  flex: 1 1 auto;
  margin: 2em auto 1em;
  max-width: 800px;
  padding: 0 8px;
}

h1 {
  margin-bottom: 2em;
  text-align: center;
}

h2 a[href*="#"],
h3 a[href*="#"],
h4 a[href*="#"],
h5 a[href*="#"],
h6 a[href*="#"] {
  color: #2f333d;
  text-decoration: none;
}

h2 a[href*="#"]::before,
h3 a[href*="#"]::before,
h4 a[href*="#"]::before,
h5 a[href*="#"]::before,
h6 a[href*="#"]::before {
  content: "#";
}

h2 a[href*="#"]:is(:hover, :focus),
h3 a[href*="#"]:is(:hover, :focus),
h4 a[href*="#"]:is(:hover, :focus),
h5 a[href*="#"]:is(:hover, :focus),
h6 a[href*="#"]:is(:hover, :focus) {
  text-decoration: underline;
}

code::selection {
  background-color: #d7dae0;
  color: #2f333d;
}

pre,
code {
  font-family: monospace;
}

pre,
code:not([data-language]) {
  background-color: #2f333d;
  border-radius: 4px;
  color: #d7dae0;
  font-size: 110%;
}

pre {
  /*
    Kept as a fallback
    TODO: remove when `:has` is working.
  */
  border-top-left-radius: 0;
  margin-top: 3em;
  padding: 16px;
  position: relative;
}

pre[data-path] {
  border-top-right-radius: 0;
}

pre:has(code[data-language]) {
  border-top-left-radius: 0;
}

pre[data-path]::before {
  background-color: #2f333d;
  border-bottom: 4px solid #d7dae0;
  border-radius: 4px 4px 0 0;
  content: attr(data-path);
  padding: 4px 8px;
  position: absolute;
  right: 0;
  top: calc(-1.5em - 4px * 2 - 2px);
}

code:not([data-language]) {
  margin: 0 1px;
  padding: 4px 8px;
}

code[data-language]::before {
  background-color: #2f333d;
  border-bottom: 4px solid #d7dae0;
  border-radius: 4px 4px 0 0;
  content: attr(data-language);
  left: 0;
  padding: 4px 8px;
  position: absolute;
  top: calc(-1.5em - 4px * 2 - 2px);
}

code[data-language="JavaScript"]::before {
  border-bottom-color: #f7e018;
}

code[data-language="TypeScript"]::before {
  border-bottom-color: #3178c6;
}

.header__content,
.logo,
.logo__link,
.social-links {
  align-items: center;
  display: flex;
}


/*
  Source: https://markus.oberlehner.net/blog/simple-solution-for-anchor-links-behind-sticky-headers#alternative-solution-with-scroll-padding-top

  68px is `header`'s height.
*/
@media (min-height: 68px) {
  html {
    scroll-padding-top: 80px;
  }
}

header {
  background-color: white;
  border-bottom: 4px solid #2f333d;
  position: sticky;
  top: 0;
  z-index: 1;
}

.header__content {
  justify-content: space-between;
  margin: 0 auto;
  max-width: 800px;
  padding: 8px;
}

.logo__image {
  margin-right: 8px;
}

.social-links {
  margin: 0;
  padding: 0;
}

.social-link {
  list-style: none;
}

.social-link + .social-link {
  margin-left: 48px;
}

footer {
  background-color: white;
  border-top: 4px solid #2f333d;
  padding: 8px;
}
